<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="../static/homePageStyle/homePageStyle.css">
</head>
<body>
    <section class="header">
        <nav>
            <a href="homePage.html"><img class="logo-png" src="../static/img/logo.png"></a>
            <div class="nav-links">
                <ul>
                    <li><a href="">ГЛАВНАЯ</a></li>
                    <li><a href="">КАЛЕНДАРЬ</a></li>
                    <li><a href="login.html">ВХОД</a></li>
                </ul>
            </div>
        </nav>
        <div class="text-box">
            <h1>Сайт Для Контроля Своих Занятий Спортом</h1>
            <p>Чтобы достичь нужного вам результата требуется достойное планирование,
                 и этот сайт поможет вам следить за своими тренировками, контролировать
                  свой прогресс и достигать своих целей</p>
                  <a href="register.html">Готовы начать?</a>
        </div>
    </section>
</body>
</html>
