<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="../static/homepage.css">
</head>
<body>
<section class="header">
    <nav>
        <a href="homepage.html"><img class="logo-png" src="../static/logo.png"></a>
        <div class="nav-links">
            <ul>
                <li><a href="">ГЛАВНАЯ</a></li>
                <li><a href="">КАЛЕНДАРЬ</a></li>
                <li><a href="">ВХОД</a></li>
            </ul>
        </div>
    </nav>
    <div class="text-box">
        <h1>Сайт Для Контроля Своих Занятий Спортом</h1>
        <p>Чтобы достичь нужного вам результата требуется достойное планирование,
            и этот сайт поможет вам следить за своими тренировками, контролировать
            свой прогресс и достигать своих целей</p>
    </div>
</section>
</body>
</html>