<html>
    <head>
        <link rel="stylesheet" href="../static/loginPage/login/loginPageStyle.css">
    </head>
    <body>
        <div class="container">
            <div class="card">
            <div class="inner-box">
                <h2>ВХОД</h2>
                <form>
                    <input type="email" class="inputbox" placeholder="Введите Ваш Email" required> 
                    <input type="password" class="inputbox" placeholder="Пароль" required> 
                    <button type="submit" class="submit-btn">Submit</button>
                    <input type="checkbox" class="check-box"><span>Запомнить Меня</span>
                </form>
                <a href="../static/loginPage/registerPage/register.html">Зарегестрироваться</a>
                
                <a href="../static/loginPage/newPasswordPage/forgotPassword.html">Забыли пароль?</a>
            </div>
            </div>
             </div>
    </body>
</html>